<!DOCTYPE html>
<html lang="en">
<head>
	<title>Movie Search App</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
	<link rel="stylesheet" href="../css/style1.css">
</head>
<body>
	<div class="container">
		<div class="title container">MOVIE SEARCH APP</div>
		<form method="GET" action="/results">
			<div class=" custom-form form-group">
					<input type="text" class="form-control" name="title" placeholder="Name of the movie you want to search for..">
					<div class="custom-button text-center">
						<button type="submit" id="btn" class="btn btn-outline-secondary btn-lg">Search</button>
					</div>
			</div>
		</form>		
	</div>
</body>
</html>