.thumbnail img{
    width: 100%;
}

.thumbnail{
    padding: 10px;
    margin-bottom: 10px;
    height: 100%;
}

.thumbnail .caption {
  /* display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%; */
  padding: 9px;
}